<a href="https://colab.research.google.com/github/RakeshPatel10/gitexplore/blob/master/python_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print("Hello wolrd")
print("Venky")

Hello wolrd
Venky

**Use case of: end**

**default: end="\n"**

In [15]:
print("Hello world", end="\n\n")
print("Venky")

print("Hello world", end="")
print("Venky")
## this also works for new line
print("rakesh is on second line \n") ## this gives 2 line space
print("after escape sequence")

Hello world

Venky
Hello worldVenky
rakesh is on second line

after escape sequence

**Use case of : sep**

In [20]:
print("Hello","Rakesh","Patel")
print("Hello","Rakesh","Patel",sep="")
print("Hello","Rakesh","Patel",sep="***")
print("Hello","Rakesh","Patel",sep="\n")

Hello Rakesh Patel
HelloRakeshPatel
Hello***Rakesh***Patel
Hello
Rakesh
Patel

In [26]:
print("welcome to rbr sir course","this is rakesh",sep="++",end="**\n*")
print("checkout to this course",end="\n\n")
print("hi this is rakesh")

welcome to rbr sir course++this is rakesh**
*checkout to this course

hi this is rakesh

In [34]:
a=35
print(a)
print(type(a))
print(id(a))

35
<class 'int'>
136952435787056